# Project information
site_name: "Big Data Intelligence Course Wiki"
site_description: "Your Gateway to Mastering Big Data Systems and Analytics"
site_author: "TA"
site_url: "https://piyush-an.github.io/DAMG7245-Fall2023/"

# Copyright
copyright: "&copy; 2023 Northeastern University"

# Repository
repo_name: piyush-an/DAMG7245-Fall2023
repo_url: https://github.com/piyush-an/DAMG7245-Fall2023
edit_uri: blob/main/docs/
theme:
  name: material
  language: "en"
  shortcuts:
    help: 191 # ?
    next: 78 # n
    previous: 80 # p
    search: 83 # s
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - tabs
    - content.action.edit
    - content.action.view
    - content.action.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.indexes # 
    - navigation.sections #
    - navigation.footer
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - toc.follow
    # - navigation.sections
    # - toc.integrate
  font:
    text: Roboto
  icon:
    logo: material/bookshelf
    # icon:
    #   edit: fontawesome/solid/pencil
    #   view: material/eye
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

plugins:
  - tags
  - blog:
      enabled: true
      blog_dir: blog
  - search
  - git-authors
  - glightbox

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      auto_title: false
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/piyush-an/
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/damg7245fall2023/shared_invite/zt-25hzwbt0l-~aflAFGuRwYm6iU5UZ13dg
    - icon: material/school
      link: https://www.northeastern.edu/


# Page tree
nav:
  - Home: 
    - Home: index.md
    - Software Installation: 
      - Software Installation: sw/index.md
      - IDE: sw/ide.md
      - Python: sw/python.md
      - WSL: sw/wsl.md
      - Github: sw/github.md
      - Cloud: sw/cloud.md
  - Streamlit:
    - Introduction: streamlit/Introduction.md
    - Deploy Streamlit Cloud: streamlit/deploy.md
    - Dockerize: container/build_streamlit.md
  - FastAPI:
    - Introduction: fastapi/Introduction.md
    - Unit Testing: fastapi/unit_test.md
    - Continuous Integration Testing: fastapi/ci_testing.md
    - Dockerize: container/build_fastapi.md
  - Great Expectations:
    - Introduction: gx/Introduction.md
    - Local FS: gx/local-fs.md
    - SQL DB: gx/sql-data.md
    - Cloud Object: gx/cloud_object.md
  - Container:
    - Introduction: container/intro.md
    - Installation: container/install.md
    - Dockerize FastAPI: container/build_fastapi.md
    - Dockerize Streamlit: container/build_streamlit.md
  - Airflow:
    - Introduction: airflow/intro.md
    - Installation: airflow/install.md
    - First Dag: airflow/dag.md
  - Google Cloud:
    - Introduction: gcp/Introduction.md
    - Compute Engine: gcp/compute_engine.md
  - Blog:
    - blog/index.md

