[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
pymdown-extensions = "*"
mkdocs-git-authors-plugin = "*"
mkdocs-glightbox = "*"

[dev-packages]

[requires]
python_version = "3.10"
