[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]
pytest-cov = "*"
httpx = "*"

[requires]
python_version = "3.12"
