name: mkdocs deploy 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
      - 
        name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - 
        name: Install pipenv
        run: pip install pipenv
      - 
        name: Get cache_id
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pipenv install --system --deploy --ignore-pipfile
      - run: mkdocs gh-deploy --force